// Header
.header {
  width: 100%;
  height: 70px;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;

  transition: .2s;
  z-index: 100;

  border-bottom: 1px solid transparent;

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 200px;
      height: 42px;
    }

    .menu {
      display: flex;

      font-family: 'TTFirsNeue-Regular', cursive;
      font-size: 24px;

      .item {
        &:not(:first-child) {
          margin-left: 72px;
        }
      }

      @media screen and (max-width: 1110px) {
        .item {
          &:not(:first-child) {
            margin-left: 42px;
          }
        }
      }
    }
  }
}

.headerBg {
  border-bottom: 1px solid #F0F2FA;
  background-color: #fff;
}

@media screen and (max-width: 1520px) {
  .header {
    .headerWrapper {
      padding: 0 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .headerWrapper {
      padding: 0 20px;
    }
  }
}
