// Main section
.main {
  .rightImg {
    width: 1050px;
    height: 100vh;

    position: absolute;
    top: 0;
    right: 0;

    z-index: -1;

    background-image: url("../../../public/heroImg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;

    //@media screen and (max-width: 1430px) {
    //  background-size: 70%;
    //}

    @media screen and (max-width: 1230px) {
      background-size: 60%;
    }

    @media screen and (max-width: 1110px) {
      display: none;
    }
  }

  .content {
    height: 100vh;

    display: flex;
    //align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      width: 400px;

      margin: 0;

      font-family: 'TTFirsNeue-Bold', cursive;
      font-size: 72px;
      line-height: 110%;
      letter-spacing: 1.2px;

      color: #2E2F33;

      .year {
        color: #006bff;
      }
    }

    h3 {
      width: 400px;

      margin: 22px 0 0 0;

      font-family: 'TTFirsNeue-Regular', cursive;
      font-size: 26px;
      font-weight: normal;

      color: #717aa6;
    }

    .swipe {
      position: relative;

      margin-top: 100px;

      display: none;
      justify-content: center;
      align-items: flex-end;

      h3 {
        margin: 0;

        color: #000000;
      }

      svg {
        position: absolute;
        top: 35px;

        animation-name: swipe;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-direction: alternate-reverse;
        animation-duration: .7s;
      }
    }

    @media screen and (max-width: 1600px) {
      h1 {
        font-size: 60px;
      }

      h3 {
        font-size: 20px;
      }
    }

    @media screen and (max-width: 600px) {
      h1 {
        font-size: 46px;
      }

      h3 {
        margin: 22px 10px 0 10px;

        //font-size: 18px;
      }
    }

    .action {
      position: relative;

      $buttonWidth: 280px;
      $buttonHeight: 70px;
      $buttonTop: 50px;

      button {
        width: $buttonWidth;
        height: $buttonHeight;

        margin-top: $buttonTop;

        position: relative;

        font-family: 'TTFirsNeue-Regular', cursive;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;

        overflow: hidden;

        border: 1px solid #006BFF;
        outline: none;
        box-sizing: border-box;
        border-radius: 35px;

        cursor: pointer;
        transition: .5s;

        color: #006BFF;
        background-color: transparent;

        .bottom {
          width: 0;
          height: 100%;

          position: absolute;
          top: 0;
          left: 0;

          display: flex;
          justify-content: center;
          align-items: center;

          transition: .5s;
          white-space: nowrap;

          color: transparent;
          background-color: #006BFF;
        }

        &:hover {
          //opacity: .5;

          //
          //background-color: #006bff;

          .bottom {
            width: 100%;

            color: #ffffff;
          }
        }
      }

      .arrow {
        width: 65px;
        height: 185px;

        position: absolute;
        top: $buttonTop + $buttonHeight / 2;
        left: $buttonWidth + 40px;

        background: url("../../../public/arrow.png") no-repeat;

        @media screen and (max-width: 1520px) {
          display: none;
        }

        @media screen and (max-height: 810px) {
          background-size: 90%;
        }

        @media screen and (max-height: 750px) {
          background-size: 70%;
        }

        @media screen and (max-height: 700px) {
          display: none;
        }
      }

      @media screen and (max-width: 1600px) {
        button {
          margin-top: $buttonTop - 20px;
        }
      }

      @media screen and (max-width: 600px) {
        button {
          height: $buttonHeight - 20px;

          font-size: 18px;
        }
      }
    }
  }

  @media screen and (max-width: 1110px) {
    .content {
      align-items: center;

      text-align: center;

      h1 {
        width: 650px;
      }

      h3 {
        width: 500px;
      }

      .swipe {
        display: flex;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .content {
      h1, h3 {
        width: auto;
      }
    }
  }
}

@keyframes swipe {
  from {
    top: 35px;
  }
  to {
    top: 45px;
  }
}
