.about {
  padding: 150px 0;
  //padding: 0 150px;
  //position: relative;

  .wrapper {
    margin: 0 150px;

    display: flex;
    align-items: center;

    //border: 1px solid gold;

    .info {
      width: 50%;

      .title {
        margin: 12px 0;

        font-family: 'TTFirsNeue-DemiBold', cursive;
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
      }

      p {
        margin: 24px 0;

        font-family: 'TTFirsNeue-Regular', cursive;
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;

        color: #2E2F33;

        span {
          color: #006BFF;
        }
      }
    }

    .links {
      width: 50%;

      margin: 50px;

      .title {
        display: none;
      }

      .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 20px;

        //background-color: gold;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            width: 64px;
            height: 64px;

            margin: 8px 0;
          }

          h4 {
            margin: 8px 0;

            font-family: 'TTFirsNeue-Bold', cursive;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
          }

          p {
            width: 200px;

            margin: 0;

            text-align: center;

            font-family: 'TTFirsNeue-Regular', cursive;
            font-size: 18px;
            line-height: 21px;

            color: #717AA6;
          }
        }
      }

      @media screen and (max-width: 1520px) {
        & {
          margin: 50px 0 50px 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .about {
    padding: 50px 0;

    .wrapper {
      flex-direction: column;
      align-items: flex-start;

      .info {
        width: 100%;

        .title {
          text-align: center;
        }
      }

      .links {
        width: 100%;

        margin: 20px 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          margin: 12px 0;

          display: block;

          font-family: 'TTFirsNeue-DemiBold', cursive;
          font-weight: 600;
          font-size: 48px;
          line-height: 62px;

          text-align: center;
        }

        .list {
          width: 60%;

          grid-template-columns: .5fr .5fr;
          grid-template-rows: 1fr 1fr;
        }
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .about {
    .wrapper {
      margin: 0 50px;

      .info, .links {
        .title {
          font-size: 36px;
          line-height: 110%;
        }
      }

      .info {
        p {
          font-size: 20px;
        }
      }

      .links {
        width: 100%;

        .list {
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .about {
    .wrapper {
      .links {
        .list {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .about {
    .wrapper {
      .links {
        .list {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 30px 0;

    .wrapper {
      margin: 0 20px;

      .links {
        .list {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about {
    .wrapper {
      .links {
        .list {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;

          .item {
            p {
              width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .about {
    .wrapper {
      .links {
        .list {
          .item {
            p {
              width: auto;
            }
          }
        }
      }
    }
  }
}
