.form {
  padding: 150px 0;

  position: relative;

  //overflow: hidden;

  //height: 300px;
  //background-color: gray;

  .rightImg, .leftImg {
    position: absolute;

    z-index: -1;
  }

  .rightImg {
    top: 300px;
    right: 0;
  }

  .leftImg {
    left: 0;
    bottom: -500px;
  }

  @media screen and (max-width: 1450px) {
    .rightImg, .leftImg {
      display: none;
    }
  }

  .wrapper {
    margin: 0 150px;

    display: flex;
    align-items: center;

    .sendForm {
      margin-left: 150px;

      @media screen and (max-width: 1110px) {
        & {
          margin-left: 50px;
        }
      }

      .title {
        margin: 12px 0;

        //font-family: 'TTFirsNeue-Bold', cursive;
        font-family: 'TTFirsNeue-DemiBold', cursive;
        font-weight: 600;
        font-size: 48px;
        line-height: 62px;
      }

      .input {
        padding: 12px 0;

        font-family: 'TTFirsNeue-Regular', cursive;
        font-size: 24px;
        line-height: 150%;

        div {
          color: #2E2F33;
        }

        .valid {
          border: 2px solid #52AC00;
        }

        .error {
          border: 2px solid #D90036;
        }

        input {
          width: 100%;

          margin: 12px 0;
          padding: 24px;

          font-size: 18px;

          outline: none;

          border-radius: 15px;
          border: 2px solid #E9EBF5;

          transition: .3s;

          box-sizing: border-box;
          background-color: #fff;

          &::placeholder {
            font-family: 'TTFirsNeue-Regular', cursive;
            font-size: 18px;
            line-height: 150%;

            color: #717AA6;
          }

          &:focus {
            border: 2px solid #006BFF;
          }
        }

        @media screen and (max-width: 450px) {
          & {
            padding: 6px 0;

            input {
              padding: 16px;

              border-radius: 10px;
            }
          }
        }
      }

      button {
        width: 200px;
        height: 70px;

        margin: 12px 0;

        font-family: 'TTFirsNeue-Regular', cursive;
        font-size: 24px;
        line-height: 150%;

        border-radius: 15px;
        border: none;
        outline: none;

        cursor: pointer;
        transition: .5s;

        color: #ffffff;
        background: #006BFF;

        &:hover {
          opacity: .5;
        }

        @media screen and (max-width: 450px) {
          & {
            height: 60px;

            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1110px) {
  .form {
    padding: 50px 0;

    .wrapper {
      margin: 0 50px;

      .sendForm {
        .title {
          margin-bottom: 0;

          font-size: 36px;
          line-height: 110%;
        }

        .input {
          font-size: 20px;
          line-height: 110%;
        }
      }

      img {
        width: 250px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .form {
    .wrapper {
      margin: 0 50px;

      .sendForm {
        width: 100%;

        margin-left: 0;

        .title {
          margin: 24px 0;

          text-align: center;
        }
      }

      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .form {
    padding: 30px 0;

    .wrapper {
      margin: 0 20px;

      .sendForm {
        button {
          width: 100%;

          margin: 0;
        }
      }
    }
  }
}
