.services {
  width: 100%;

  margin: 90px 0;

  box-sizing: border-box;

  .item {
    width: 100%;

    //padding: 80px 94px;
    padding: 40px 47px;
    margin-bottom: 12px;

    border-radius: 8px;
    box-sizing: border-box;

    .name, .price {
      margin: 0;

      font-family: 'TTFirsNeue-Regular', cursive;
      font-weight: normal;
    }

    .name {
      width: 50%;

      font-size: 80px;
      line-height: 110%;

      color: #36394D;
    }

    .price {
      margin-top: 28px;

      font-size: 32px;
      line-height: 115%;

      color: #717AA6;
    }

    button {
      margin-top: 48px;
      padding: 18px 36px;

      font-weight: 500;
      font-size: 24px;
      line-height: 31px;

      color: #006BFF;
      background: transparent;

      cursor: pointer;

      outline: none;
      border: 1px solid #006BFF;
      border-radius: 34px;
      box-sizing: border-box;
    }
  }

  .smallWrapper {
    display: flex;

    .item {
      width: 50%;

      .name {
        width: 100%;

        margin-bottom: 200px;
      }

      .adapt {
        display: none;
      }

      &:first-child {
        margin-right: 12px;
      }
    }
  }
}
