.footer {
  height: 390px;

  display: flex;

  overflow: hidden;

  .data {
    width: 50%;
    height: 100%;

    padding: 75px 0;

    display: flex;
    justify-content: flex-end;

    border-radius: 0 30px 0 0;
    box-sizing: border-box;

    color: #ffffff;
    background-color: #1D2126;

    a {
      margin: 8px 0;

      position: relative;
      bottom: 0;

      font-family: 'TTFirsNeue-Regular', cursive;
      font-size: 17px;
      line-height: 22px;

      transition: 0.3s;

      color: #ffffff !important;

      &:hover {
        bottom: 3px;
      }
    }

    .menu {
      margin-right: 150px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        margin: 0;

        font-family: 'TTFirsNeue-Regular', cursive;
        font-size: 36px;
        line-height: 46px;
      }
    }

    .contacts {
      margin-right: 124px;

      display: flex;
      flex-direction: column;

      .title {
        margin: 0 0 8px 0;

        font-family: 'TTFirsNeue-Regular', cursive;
        font-size: 36px;
        line-height: 46px;
      }

      a {
        font-family: 'TTFirsNeue-Regular', cursive;
        font-size: 17px;
        line-height: 22px;
      }
    }
  }

  img {
    margin-left: 130px;
  }
}

@media screen and (max-width: 1520px) {
  .footer {
    .data {
      justify-content: flex-start;

      .menu {
        margin-left: 100px;
      }

      .contacts {
        //margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .footer {
    .data {
      .menu {
        margin-left: 50px;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .footer {
    .data {
      .menu {
        //margin-left: 0;
        margin-right: 50px;
      }

      .contacts {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .footer {
    height: auto;

    .data {
      width: 100%;

      padding: 25px 0;

      justify-content: center;
      flex-direction: column;

      border-radius: 0;

      .menu {
        display: none;
      }

      .contacts {
        margin-right: 0;

        text-align: center;

        .title {
          display: none;
        }

        a {
          font-size: 20px;
        }
        //margin-right: 20px;
      }
    }

    img {
      display: none;
    }
  }
}
